@model IEnumerable<USOS.Models.LessonStudentMarkView>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Marks</h2>
<head>
    <link href="~/css/style-home.css" rel="stylesheet" />
</head>

<br />
<br />
@(Html
.Grid(Model)
.Build(columns =>
{
    columns.Add(model => model.Username).Titled("Student");
    columns.Add(model => model.Lesson).Titled("Przedmiot");
    columns.Add(model => model.Mark).Titled("Ocena");
})
.Filterable()
.Sortable()
.Pageable()
)
