@model IEnumerable<USOS.Models.Plan>
    <form asp-controller="Plan" asp-action="UploadFile" method="post"
          enctype="multipart/form-data">
        <br />
        <input type="file" name="file" />
        <br />
        <button type="submit">Upload File</button>
        <br />
        <div>

            @foreach (var file in ViewBag.file3)
            {
                <a href="~/Data/@System.IO.Path.GetFileName(file)">
                       
                    <div class="container-fluid">
                        
                            <div class="p-3 mb-2 bg-warning text-dark" style="background-color:#f7f7f7;padding: 10px;margin: 10px;border-left: 10px ridge rgb(27, 245, 233, .6);border-radius: 6px;box-shadow:0 2px 1px rgba(0, 0, 0, 0.2),inset 0 2px 1px rgba(0, 0, 0, 0.2);">
                                
                                    <div class="container">
                                        <img src="~/images/Kalendarz.png" height="50" width="50" />
                                        <a href="~/Data/@System.IO.Path.GetFileName(file)">@System.IO.Path.GetFileName(file)</a>
                                        <br />
                                    </div>
                              
                            </div>
                       
                    </div>       
                        
                </a>
            }

            </div>

</form> 