@model Group
<form asp-action="EditGroup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edycja</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group col-lg-10">
                    <label asp-for="Name" class="control-label">Nazwa</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" id="Cancel" class="btn btn-default" type="button">Zamknij</button>
        <button class="btn btn-success" id="Submit" type="submit">Zatwierdź</button>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")
